.about {
  max-width: 1400px;
  margin: 200px auto;
  padding: 50px;
}

@media only screen and (max-width: 1024px) {
  .about {
    margin: 100px auto;
    padding: 20px;
    flex-direction: column-reverse;
  }
}

@media only screen and (max-height: 450px) {
  .about {
    margin: 50px auto;
  }
}
