.home {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.center {
  color: #2c2c2c;
  display: flex;
  opacity: 0.9;
  align-items: center;
  justify-content: center;
  transform: translate(0, -400%);
  font-size: 8em;
}

.top {
  color: #ff4444;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(0, -2550%);
  font-size: 2em;
}

.bottom {
  color: #ff4444;
  transform: translate(0, -480%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
}

.link {
  padding: 0.5rem;
  color: #ff4444;
  text-decoration: none;
  transition: 0.5s;
}

.link:hover {
  color: #2c2c2c;
}

@media only screen and (max-width: 1024px) {
  .center {
    transform: translate(0, -550%);
  }

  .top {
    transform: translate(0, -3600%);
  }
}

@media only screen and (max-width: 850px) {
  .top {
    transform: translate(0, -2850%);
  }
  .center {
    transform: translate(0, -450%);
  }
}

@media only screen and (max-width: 414px) {
  .center {
    transform: translate(0, -700%);
    font-size: 3.8em;
    color: #ff6f61;
  }

  .top {
    transform: translate(0, -2900%);
    font-size: 1.4em;
  }

  .bottom {
    transform: translate(0, -400%);
    font-size: 1.4em;
  }
}

@media only screen and (max-height: 736px) {
  .top {
    transform: translate(0, -2450%);
  }

  .center {
    transform: translate(0, -600%);
  }
}

@media only screen and (max-width: 375px) {
  .top {
    transform: translate(0, -2800%);
    font-size: 1.3em;
  }

  .center {
    transform: translate(0, -700%);
    font-size: 3.5em;
  }

  .bottom {
    transform: translate(0, -400%);
    font-size: 1.3em;
  }
}

@media only screen and (max-height: 700px) {
  .top {
    transform: translate(0, -2350%);
  }

  .center {
    transform: translate(0, -600%);
  }
}

@media only screen and (max-width: 320px) {
  .top {
    transform: translate(0, -2250%);
    font-size: 1.2em;
  }

  .center {
    transform: translate(0, -600%);
    font-size: 3.1em;
  }

  .bottom {
    transform: translate(0, -400%);
    font-size: 1.2em;
  }
}