.header {
  color: white;
  display: flex;
  opacity: 0.9;
  align-items: center;
  justify-content: center;
  transform: translate3d(0, -450%, 0);
  font-size: 8em;
  line-height: 1em;
}

a {
  color: white;
  position: absolute;
  font-size: 1.1em;
  display: inline;
}

.image {
  width: 75px;
}

.top-left {
  top: 50px;
  left: 50px;
}

.top-right {
  top: 50px;
  right: 50px;
}

.bottom-left {
  bottom: 50px;
  left: 50px;
}

.bottom-right {
  bottom: 50px;
  right: 50px;
}

@media only screen and (max-width: 750px) {
  .top-left {
    top: 25px;
    left: 25px;
  }

  .top-right {
    top: 25px;
    right: 25px;
  }

  .bottom-left {
    bottom: 25px;
    left: 25px;
  }

  .bottom-right {
    bottom: 25px;
    right: 25px;
  }

  .image {
    width: 55px;
  }

  .header {
    transform: translate3d(0, -800%, 0);
    font-size: 3.8em;
  }
}
