.form {
  height: 100vh;
  width: 35rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form h1 {
  margin-bottom: 30px;
}

.form input,
textarea {
  padding: 20px;
  border-radius: 3px;
  margin-bottom: 20px;
  border: 1px solid lightgray;
  background: #fffdfc;
  font-size: 16px;
  color: #2c2c2c;
  outline: none;
}

.form textarea {
  height: 10rem;
  min-height: 10rem;
  max-width: 35rem;
}

.form label {
  padding-bottom: 10px;
  color: #2c2c2c;
  font-weight: bold;
}

@media only screen and (max-width: 900px) {
  .form {
    width: 25rem;
  }

  .form textarea {
    max-width: 25rem;
  }
}

@media only screen and (max-width: 600px) {
  .form {
    width: 20rem;
  }

  .form h1 {
    font-size: 1.5em;
  }

  .form label,
  input,
  textarea {
    font-size: 1em;
  }

  .form textarea {
    max-width: 20rem;
  }
}

@media only screen and (max-width: 414px) {
  .form {
    width: 15rem;
  }

  .form textarea {
    max-width: 15rem;
  }
}
