* {
  box-sizing: border-box;
}

html,
body,
#root {
  font-family: "Play", sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #272727;
}

body {
  position: fixed;
  overscroll-behavior-y: none;
}

canvas {
  width: 100%;
  height: 100%;
}